.unlock .welcome-page {
    background-image: url(../images/bg-login.png);
}

.modal.fade.in:not(.show) {
    opacity: 1;
}

.modal {
    height: auto;
}

.btn.tiny {
    font-size: 15px;    
    height: 46px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn.micro {
    font-size: 13px;    
    height: 46px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.progress {
    height: 30px;
}

.progress .progress-bar {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #006b97;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.nav-tabs.nav-tabs-line .nav-item a.nav-link, 
.nav-tabs.nav-tabs-line .nav-item a {
    padding-left: 10px !important;
    font-size: 17px !important;
    color: #fff !important;
    background-color: #6fd2fb !important;
    border-bottom: solid 5px lightgray !important;
}

.nav-tabs.nav-tabs-line .nav-item a.nav-link.active, 
.nav-tabs.nav-tabs-line .nav-item a:hover {
    padding-left: 10px !important;
    font-size: 17px !important;
    color: #fff !important;
    background-color: #006b97 !important;
    border-bottom: solid 5px #6fd2fb !important;
}

.nav-tabs.nav-tabs-line .nav-item a.nav-link i,
.nav-tabs.nav-tabs-line .nav-item a i,
.nav-tabs.nav-tabs-line .nav-item a.nav-link.active i, 
.nav-tabs.nav-tabs-line .nav-item a:hover i {
    margin-left: 5px !important;
    color: #fff !important;
}

i.color-red {
    color: brown;
}

i.color-green {
    color: seagreen;
}

i.color-yellow {
    color: orange;
}