.member {
    .text-cta {
        margin-left: 10px;
    }
    &.selectable:hover {
        border: 0.5px solid #6fd2fb;
        cursor: pointer;
    }
    .retrieving {
        float: right;
        padding-top: 4%;
        .retrievingContainer {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .label {
            padding-right: 30%;
            color: black !important;
        }
        .spinner {
            margin-top: 5%;
        }
    }
    .kt-portlet__body {
        position: relative;
        .sticker {
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }
}