.header {
    .header-left {
        float: left;
        width: 30%;
        .back {
            color: #fff;
        }
    }
    .header-right {
        float: left;
        width: 70%;
    }
    .back-title {
        font-size: 25px;
    }
}

.kt-menu__nav {
    a {
        padding: 10px 40px;
        font-size: 16px;
    }
    .kt-menu__item--open {
        a {
            position: relative;
            color: #fff;
            &:before {
                content: '';
                width: 80px;
                height: 80px;
                display: block;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-radius: 10px;
                position: absolute;
                bottom: -15px;
                z-index: -1;
                margin: 0 calc(50% - 80px);
            }
        }
    }
    li:hover a {
        color: #fff;
    }
}

.kt-subheader .kt-subheader__main {
    .kt-subheader__breadcrumbs-home>i {
        font-size: 18px !important;
    }
    .kt-subheader__separator {
        width: 2px;
        height: 40px;
        &--small {
            width: 8px;
            height: 2px;
        }
    }
    .kt-subheader__title {
        font-size: 2.2rem;
    }
}

.dropdown-menu {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-255px, 65px, 0px);
}

@media (min-width: 1025px) {
    .kt-header--fixed .kt-wrapper {
        padding-top: 175px;
    }
}