.product {
    cursor: pointer;
    .text-cta {
        margin-left: 10px;
    }
    &:hover {
        border: 0.5px solid lightblue;
    }
    .retrieving {
        float: right;
        padding-top: 2%;
        .retrievingContainer {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .label {
            padding-right: 30%;
            color: black !important;
        }
        .spinner {
            margin-top: 5%;
        }
    }
}