.members {
    #kt_body {
        width: 100%;
    }
    .searchBar {
        float: right;
        div.separator {
            padding-right: 10%;
            border-right: 1px solid lightgray;
        }
        div.clear {
            padding-top: 1%;
            text-align: center;
        }
    }
}