.detail {
    .editor {
        min-height: 200px;
        .btn {
            height: auto;
            font-size: 13px;
        }
        .note-toolbar {
            z-index: 1;
        }
    }

    p.description {
        max-height: 250px;
        overflow: auto;
    }

    .progress-bar {
        font-size: 20px;
    }

    .small {
        font-size: 85%;
        font-weight: bold;
    }

    .investments {
        float: right;
    }

    .fa-star {
        color: darkgray;
        &:hover {
            color: lightgoldenrodyellow;
        }
        &.favorite {
            color: yellow;
            &:hover {
                color: goldenrod;
            }
        }
    }

    .relative {
        position: relative;
        .sticker {
            position: absolute;
            bottom: 5px;
            left: 100px;
        }
    }
}